.navbar{margin-bottom:0}
.scf-site-header{margin-bottom:0}
.scf-site-brand-img{height:120px}
.scf-breadcrumbs-box{margin-top:10px}
.scf-site-content{padding:20px 10px}
.scf-site-content .new.section{min-height:45px;margin-bottom:3px}
.scf-site-content .colctrl.section{min-height:45px;margin-bottom:10px}
.scf-site-content .aem-GridColumn.parbase{min-height:45px;margin-bottom:10px}
#scf-language-picker{background-color:transparent}
.scf-searchresult-item{padding-left:0;padding-right:0}
.scf-searchresult-subject{margin-left:10px}
.scf-searchresult-message{max-height:168px;overflow:hidden}
div.scf-search-form{display:block}
div.scf-search-form .scf-search-checkbox{display:inline;margin-left:10px;margin-top:0}
div.scf-search-form .scf-search-label{display:inline}
div.scf-search-form .scf-search-query-label{float:left}
.scf-follow-avatar{border-radius:25px;margin-right:15px}
.scf-analytics-activitylist li{padding:10px 0}
.scf-analytics-activitylist .glyphicon{font-size:24px;margin-right:15px;vertical-align:middle;display:inline-block}
.scf-analytics-activity-content{display:inline-block;vertical-align:middle}
.scf-analytics-activitylist .scf-analytics-activity-content-link{color:inherit}
.scf-activity-time{text-align:left;opacity:.7;font-size:11px}