@font-face{font-family:"SCFIcons";src:url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.eot");src:url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.eot?#iefix") format("embedded-opentype"),url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.woff") format("woff"),url("scf/res/AdobeIcons-74324ff07761daf4c31d04544b133fef.ttf") format("truetype"),url("scf/res/icons/AdobeIcons-74324ff07761daf4c31d04544b133fef.svg?#webfont") format("svg");font-weight:normal;font-style:normal}
.scf{font-family:helvetica,arial;color:#4b4b4b}
.scf h4{font-size:14px;color:#4b4b4b;margin:10px 0}
.scf h2{font-size:24px;color:#4b4b4b;margin:0;font-weight:100}
.scf .scf-link{font-size:14px;color:#4191d2;cursor:pointer}
.scf .scf-link:visited{color:#96509b}
.scf .scf-link:hover{text-decoration:underline}
.scf .scf-quiet{font-size:12px;color:#969696}
.scf .scf-clear-both{display:block;clear:both;visibility:hidden;line-height:0;height:0}
.scf-is-hidden{display:none}
.scf [class^="scf-icon-"]{font-family:SCFIcons}
.scf [class^="scf-icon-"].large{font-size:32px}
.scf-icon-comment:before{content:"\f159";font-family:SCFIcons}
.scf-icon-viewOff:before{content:"\f2a7";font-family:SCFIcons}
.scf-icon-fullscreen:before{content:"\f1c2";font-family:SCFIcons}
.scf-modal-screen{z-index:2000;position:fixed;top:0;left:0;width:100%;height:100%;opacity:.6;background-color:#000}
.scf-modal-dialog{z-index:2200;position:fixed;top:100px;left:100px;min-width:300px;padding:15px;background-color:#3c3c3c;color:#fff;text-align:center}
.scf-modal-dialog h2{color:#fff;margin-bottom:10px;text-align:left;line-height:24px}
.scf-modal-dialog input,.scf-modal-dialog select,.scf-modal-dialog option,.scf-modal-dialog textarea{color:#333}
.scf-modal-close{position:absolute;right:15px;top:15px;font-size:20px;font-weight:100;cursor:pointer;line-height:24px}
.scf-error{border:2px solid !important;border-color:#eb413c !important}
.scf-js-error-message{background-color:#eb413c;color:#fff;border-radius:6px}
.scf-js-error-message:before{font-family:SCFIcons;content:"\f10d";padding-left:5px;padding-right:5px}
.scf-icon-dblright:before{content:"   ";font-size:14px;font-family:SCFIcons}
.scf-horizontal-tag-list{display:inline;padding:0}
.scf-horizontal-tag-list li{display:inline-block;list-style-type:none;margin-bottom:5px}
.scf-selected-tag{padding:5px;margin-right:5px;background-color:#969696;color:#fff;font-size:13px}
.scf-selected-tag .scf-remove-tag:before{font-family:SCFIcons;content:"\f14d"}
.scf-icon-folder:before{content:"";font-family:SCFIcons}
.scf-icon-gear-after:after{content:"\f1c5";font-family:SCFIcons}
.scf-icon-add:before{content:"\f106";font-family:SCFIcons}
.scf-icon-attachment:before{content:"";font-family:SCFIcons}
.scf-icon-check-after:after{content:"\f145";font-family:SCFIcons}
.scf-icon-camera:before{content:"\f13b";font-family:SCFIcons}
.scf-icon-image:before{content:"\f1ed";font-family:SCFIcons}
.scf-icon-calendar:before{content:"\f137";font-family:SCFIcons}
.scf-icon-delete:before{content:"\f171";font-family:SCFIcons}
.scf-icon-right:before{content:"\f102"}
.scf-icon-left:before{content:"\f101"}
.scf-pages{margin:10px 0;padding:5px 0}
.scf-pages-list{padding:0;margin:0;list-style:none}
.scf-pages-list:first-child{border-top:solid;border-width:1px;border-color:#e6e6e6}
.scf-pages-list:last-child{border-bottom:solid;border-width:1px;border-color:#e6e6e6}
.scf-pages-list-item{display:inline-block;margin:3px 0}
.scf-page{cursor:pointer;display:inline-block;padding:1px 3px;border:1px solid #227ecb;min-width:16px;text-align:center}
a.scf-currentPage{color:#fff;border:0;background:#dcdcdc;cursor:default}
.scf .scf-load-more{display:block;text-align:right;font-size:12px}
.scf .scf-replies-count{display:inline-block}
.scf-overlay-header h3{display:inline-block;margin-left:10px;margin-top:10px}
.scf-is-overlay-hidden{display:none}
.scf-action-container .scf-action-item{float:left;margin:6px 10px 6px 0}