.center-container{overflow:auto;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.dataTables_wrapper{margin:10px auto;width:90%}
.dataTables_toolbar{height:30px}
.dataTables_scroll{display:inline-block;width:100%}
table.dataTable th,table.dataTable td{overflow:hidden}
table.dataTable td{text-overflow:ellipsis}
.emptyStar{height:18px;width:90px;float:left;background-image:url("../../../../designs/social/enablement/default/images/social/rating/ratings_star_empty_my_rating.png");background-repeat:repeat-x}
.ratingStar{height:18px;float:left;background-image:url("../../../../designs/social/enablement/default/images/social/rating/FilledStarBlue_Big.png");background-repeat:repeat-x}
div.ColVis{float:left}
.scf-report-pagination{float:right;margin-bottom:20px}
.scf-report-pagination{float:right;margin-bottom:20px}
.scf-report-pagination .btn:disabled{display:none}
.scf-js-leaderboarditem-progression{max-width:80%}
.scf-leaderboarditem td{empty-cells:show}
.scf-leaderboard-avatar{width:26px;height:26px;border-radius:30px}
.scf-leaderboard{padding-bottom:15px}
.scf-leaderboard .table td.fit,.table th.fit{white-space:nowrap;width:1%}
.scf-leaderboard .table th{background-color:#efefef}