.scf-cards{list-style:none;padding:0;margin:0;box-sizing:border-box;width:100%;max-height:430px;overflow-y:scroll;margin-top:40px}
.scf-card{display:inline-block;width:150px;border-color:dimgray;border:1px solid;border-radius:3px;background-color:#ddd;margin:10px;text-align:center;box-sizing:border-box;overflow:hidden;min-height:154px;line-height:134px}
.scf-card .scf-card-img{max-width:150px}
.scf-card .scf-card-footer{height:20px;width:100%;opacity:.9;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;position:absolute;bottom:0;left:0;background-color:gray;color:white;font-size:small;text-align:left;line-height:20px}
.scf-card-footer a{color:white;font-size:smaller;padding:3px;cursor:pointer}
.scf-card-overlay{position:absolute;width:100%;height:100%;background-color:black;opacity:.6;font-size:24px;color:white;display:none}
.scf-card-overlay:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}
.scf-card.scf-is-card-overlay-on .scf-card-overlay{display:block}