span.glyphicon.glyphicon-ok.scf-checkbox{float:right;display:inline-block;width:16px;height:16px;background-color:inherit}
.scf-subscriptions-list.dropdown-menu{min-width:190px}
.scf button.scf-subscriptions-dropdown-button{min-width:100px}
span.scf-subscription-type{margin-left:5px}
span.scf-subscription-type.scf-subscription-type-selected{font-weight:bold}
.scf-subscriptions-list{padding:.2em}
li.scf-subscription-item{padding:.5em}
li.scf-subscription-item:hover{cursor:pointer;color:#262626;background-color:#f5f5f5}
hr.divider{margin-top:3px;margin-bottom:5px;border:0;border-top:1px solid #eee}
.scf-subscriptions-list.dropdown-menu .divider{height:2px;margin:4px 0;overflow:hidden;background-color:#e5e5e5}
.scf-composer-avatar{width:40px;height:40px;border-radius:20px;float:left}
.scf-commentsystem header{border-bottom:1px solid #e6e6e6}
.scf-composer-block{padding:10px}
.scf-composer-block.scf-is-collapsed input,.scf-composer-block.scf-is-collapsed label{display:none}
.scf-is-collapsed .scf-composer-msg{border:1px solid #b4b4b4;height:30px;margin-top:5px;display:inline}
.scf-is-collapsed .scf-rte-composer{display:none}
.scf-composer-block.scf-is-collapsed .scf-rte-placeholder{display:inline}
.scf-composer-msg{display:inline;width:100%;box-sizing:border-box;resize:none;height:200px}
input.scf-composer-msg{height:30px}
.scf-composer-msg::-webkit-input-placeholder:before{font-family:SCFIcons;content:"\f15a\00a0\00a0"}
.scf-composer-msg:-moz-placeholder:before{font-family:SCFIcons;content:"\f15a\00a0\00a0"}
.scf-composer-msg::-moz-placeholder:before{font-family:SCFIcons;content:"\f15a\00a0\00a0"}
.scf-composer-msg:-ms-input-placeholder:before{font-family:SCFIcons;content:"\f15a\00a0\00a0"}
.scf-is-collapsed .scf-composer-toolbar{display:none}
.scf-composer-toolbar{position:relative;margin-top:10px}
.scf-composer{margin:0 0 0 50px}
.scf-composer.scf-edit-composer{margin:0}
.scf-composer-actions{text-align:right}
.scf-comment-attachment-input{display:none;float:left;position:absolute;left:0;opacity:0;cursor:pointer;width:100px}
.scf-composer-attach{float:left;cursor:pointer}
.scf-composer-attach:before{font-family:SCFIcons;margin-right:5px;content:"";color:#fff;cursor:pointer}
.scf-composer-delete:before{font-family:SCFIcons;margin-right:5px;content:"\f171";color:#fff;cursor:pointer}
.scf-attachment-list{margin:0;padding:10px 0 10px 0;list-style:none}
.scf-is-attached{background:#969696;color:#fff;padding:5px 10px;font-size:12px;display:inline-block;margin:0 5px}
.scf-is-rem-att{font-size:10px;padding-left:5px;cursor:pointer}
.scf-rte-placeholder{display:none}
.scf-composer .scf-input{display:block}
.scf .cke{margin-bottom:10px;border:0;box-shadow:0}
.scf .cke_contents{border:1px solid #b3b3b3}
.scf .cke_top{border-bottom:0;padding:0;white-space:normal;box-shadow:0;background:transparent;background-image:none;-webkit-filter:none;filter:none}
.scf .cke_toolgroup{float:left;margin:0 6px 5px 0;border:0;border-radius:0;box-shadow:0;background:transparent;background-image:none;-webkit-filter:none;filter:none}
.scf-comments-list{padding:10px 0 0 0;margin:0;list-style:none;border-top:1px solid #e6e6e6}
.scf-comment{padding:10px;padding-right:0;border-bottom:1px solid #e6e6e6}
.scf-comment:last-child{border:0}
.scf-comment-author{width:50px;float:left;overflow:hidden}
.scf-comment-body{margin-right:50px}
.scf-comment-avatar{padding-bottom:3px;width:40px;height:40px;border-radius:20px}
.scf-comment-avatar.withTopLevel{width:50px;height:50px;border-radius:25px}
.scf-badge-image{padding:1px;width:15px;height:15px;float:left}
.scf-badge-text{font-size:10px;text-transform:uppercase;opacity:.5;filter:alpha(opacity=50);white-space:nowrap;clear:left}
.scf-comment-data{margin-left:50px;position:relative}
.scf-comment-data.withTopLevel{margin-left:60px}
.scf-comment-replies .scf-comments-list.withTopLevel{margin-left:60px;border-top:1px solid #e6e6e6}
.scf-comment-replies .scf-comments-list{margin-left:50px;margin-top:10px;border-top:1px solid #e6e6e6}
.scf-comment-votes{position:absolute;top:0;right:0}
.scf-comment-msg{margin-top:10px}
.scf-comment-img-att{max-width:60%;border:1px solid #e6e6e6;width:auto;display:inline-block;margin:10px 0}
.scf-comment-attachment-img{max-width:100%;max-height:100%}
.scf-comment-att .scf-comment-att-link{margin-left:10px}
.scf-comment-file-att{min-height:134px}
.scf-comment-file-icon{font-size:48px;line-height:134px;color:white}
.scf-is-card-overlay-on .scf-comment-file-icon{display:none}
.scf-comment-att-delete,.scf-comment-att-delete-ok,.scf-comment-att-delete-cancel{cursor:pointer;opacity:1}
.scf-comment-attachments .scf-comment-att-delete-ok,.scf-comment-attachments .scf-comment-att-delete-cancel{display:none}
.scf-comment-attachments .scf-is-att-confirm-overlay-on .scf-comment-att-delete-ok,.scf-comment-attachments .scf-is-att-confirm-overlay-on .scf-comment-att-delete-cancel{display:inline-block;margin:0 3px}
.scf-is-att-confirm-overlay-on .scf-comment-att-delete{display:none}
.scf-att-confirm-text{font-size:12px;display:block}
.scf-comment-att-name{background-color:#e6e6e6;line-height:18px;padding:10px}
.scf-is-new{background-color:#ebf0dc;padding:.5rem 0 0 .5rem}
.scf-comment-toolbar{margin-top:10px}
.scf-comment-action{display:inline-block;margin-right:25px;cursor:pointer}
.scf-comment-status-text{margin:10px 0;color:#969696;font-style:italic}
.scf-flag-reasons th{font-weight:300;padding-right:20px;border-bottom:1px solid #969696}
.scf-flag-reasons tr{font-weight:100;border-bottom:1px solid #b4b4b4}
.scf-flag-reasons td{padding-right:10px}
.scf-cs-subscriptions-block{display:inline-block;position:relative;margin-left:80%}
.scf-comment-ugclimitdialog{background-color:#3c3c3c}
.scf-comment-ugclimitdialog .modal-title{text-align:center}
.scf-comment-ugclimitdialog .modal-footer{text-align:center}
.scf-comment-ugclimitdialog .close{line-height:2.5}
li.scf-post{margin-top:30px}
.scf-icon-facebook:before{content:"\f190";font-family:SCFIcons;font-size:10px;color:white;padding:4px 6px;display:inline-block;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:25px;-moz-box-shadow:0 0 2px #888;-webkit-box-shadow:0 0 2px #888;box-shadow:0 0 2px #888;background-color:#3b5998;margin:1px}
.scf-icon-twitter:before{content:"\f28d";font-family:SCFIcons;font-size:10px;color:white;padding:4px 6px;display:inline-block;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:25px;-moz-box-shadow:0 0 2px #888;-webkit-box-shadow:0 0 2px #888;box-shadow:0 0 2px #888;background-color:#00aced;margin:1px}
.scf-icon-googleplus:before{content:"\f1cf";font-family:SCFIcons;font-size:10px;color:white;padding:4px 6px;display:inline-block;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:25px;-moz-box-shadow:0 0 2px #888;-webkit-box-shadow:0 0 2px #888;box-shadow:0 0 2px #888;background-color:#dd4b39;margin:1px}
.scf-icon-email:before{content:"\f184";font-family:SCFIcons;font-size:10px;color:white;padding:4px 6px;display:inline-block;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:25px;-moz-box-shadow:0 0 2px #888;-webkit-box-shadow:0 0 2px #888;box-shadow:0 0 2px #888;background-color:black;margin:1px}
.scf-share-item:link{text-decoration:none}
.scf-forum .scf-is-collapsed{display:none}
.scf-forum .scf-paste-btn{min-width:75px;padding-left:20px;padding-right:10px}
.scf-forum-paste-grp .dropdown-toggle{min-width:25px;border-left:0}
.scf-forum-paste-grp button{float:left;position:relative}
.scf-forum-heading{float:left}
.scf-topic-avatar{width:60px;height:60px;border-radius:30px}
.scf-topic-list{list-style-type:none}
.scf-topic-listitem{position:relative;border-bottom:1px solid #e6e6e6}
.scf-topic-listitem .scf-topic-avatar{padding-bottom:3px}
.scf-topic-listitem:last-child{border:0}
.scf-topic-userinfo{float:left;width:120px}
.scf-badge-image{padding:1px;width:15px;height:15px;float:left}
.scf-badge-text{font-size:9px;text-transform:uppercase;opacity:.5;filter:alpha(opacity=50);clear:left}
.scf-topic-col1{position:relative;margin-left:120px;margin-right:100px;margin-bottom:10px}
.scf-topic-col1 .scf-topic-title{display:inline}
.scf-topic-col1 .scf-comment-msg{max-height:168px;overflow:hidden}
.scf-topic-col2{position:absolute;right:0;top:0;width:80px}
.scf-topic-listitem .scf-selected-tag{padding:3px;margin-right:3px;font-size:10px}
.scf-post .scf-comment-data{margin-left:120px}
.scf-analytics-view-metrics{display:none}
.scf-topic-list li{padding:1.2em;margin-bottom:1px}
.scf-topic-list span.scf-topic-glyphicon{margin-right:2px}
.scf-topic-list span.glyphicon{font-size:1.5em}
.scf-topic-list{padding-left:0}
.scf-sort-btngrp{margin:6px 10px 6px 0;float:right}
li.scf-sort-item{padding:.5em}
span.scf-sort-type{margin-left:5px}
li.scf-sort-item:hover{cursor:pointer;color:#262626;background-color:#f5f5f5}
.ui-datepicker .ui-state-hover,.ui-datepicker.ui-widget-content .ui-state-hover{margin:inherit;font-weight:normal}
.scf-forum .scf-composer-msg,.scf-composer-block .scf-composer-msg,.cke_contents,.scf-composer-container-tags{border-radius:5px;border:1px solid #b5b5b5;padding:4px;box-shadow:0 1px 1px #eaeaea}
.scf-forum .scf-composer-msg,.scf-composer-block .scf-composer-msg{height:34px;margin:4px 0 4px 0}
.scf-forum .cke_toolbar,.scf-topic .cke_toolbar{padding:10px}
.scf-forum a.cke_button,.scf-topic a.cke_button{padding:4px 12px;opacity:.9}
.scf-blog-heading{display:block}
.scf-forum .scf-composer-container-tags,.scf-topic .scf-composer-container-tags,.scf-composer-container-commenting{padding:4px;margin:5px 0 5px 0}
.scf-composer-container-publish{margin:5px 0 15px 0;padding-bottom:2px}
.scf-composer-container-publish div{margin:5px 0 5px 0}
.scf-draft-delete-btn{margin-right:50px}
.scf-js-event-basics-start-input{border:1px solid #ddd}
.scf-event-basics-start-min,.scf-event-basics-start-hour{width:20px}
.scf-forum .scf-composer-container-tags .scf-horizontal-tag-list li,.scf-topic .scf-composer-container-tags .scf-horizontal-tag-list li{margin-bottom:0;margin-left:2px}
.scf-forum .scf-composer-container-tags .scf-selected-tag,.scf-topic .scf-composer-container-tags .scf-selected-tag{padding:2px;background-color:#4191d2;border-radius:5px;border:1px solid #e2e2e2}
.scf-forum .scf-horizontal-tag-list .scf-selected-tag,.scf-topic .scf-horizontal-tag-list .scf-selected-tag{border-radius:5px;padding:2px 6px 2px 6px;background-color:#4191d2}
.scf-forum .scf-composer-container-tags select,.scf-topic .scf-composer-container-tags select .scf-composer-container-publish select{-webkit-appearance:menulist-button;height:30px}
.scf-forum .scf-topic-list .scf-topic-col1,.scf-topic .scf-topic-col1{margin-left:0;margin-right:0}
.scf-js-topic-details-tags-editable{display:none}
.scf-forum .scf-composer-container-tags option{background-color:#fafafa;color:#333}
.scf-forum .scf-composer-container-tags select{color:#333}
.scf-topic-section-comments{float:left}
.scf-topic-section-comments span{padding:4px}
.scf-blog-article-author{float:right;margin:0 10px 10px 0}
.scf-composer-journal{margin:0}
.scf-nav-tab-padding{padding-top:20px}
.scf-blog-following-block{margin-right:20px}
.scf-form_datepicker_right .scf-event-timepicker{width:75px;float:left;margin-right:4px}
.scf-form_datepicker_right .scf-event-basics-start-input{float:left;width:105px}
.scf-form_datepicker_middle{float:left;width:23px}
.scf-badge-image{padding:1px;width:15px;height:15px;float:none}
.scf-badge-text{font-size:9px;text-transform:uppercase;opacity:.5;filter:alpha(opacity=50);display:inline;clear:left}